[Unit]
Description = Copies all files from today off the camera

[Service]
type = oneshot
EnvironmentFile = /etc/nnev-c14hcopy/config.env
ExecStart = /usr/local/sbin/c14hcopy-%i.sh
